@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', 'sans-serif';
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color)
}

section {
    min-height: 100vh;
    padding: 8rem 7% 2rem;
}



.heading {
    text-align: center;
    font-size: 4.5rem;
}

span {
    color: var(--main-color);
}

